/*-- carpeta base --*/
@import "../base/body";
@import "../base/borders";
@import "../base/colors";
@import "../base/dimensions";
@import "../base/font_sizes";
@import "../base/paddings";
@import "../base/titulos";
/*-- carpeta layout --*/
@import "../layout/footer";
@import "../layout/navbar";
/*-- carpeta utilities --*/
@import "../utilities/mixins";


.tienda {
    flex-direction: column;
    padding: $p40 0 $p40 0;
}

.tarjeta {
    background-color: $white;
    padding: $p40;
    border-radius: $b_20;
    border: $dark-purple solid 4px;
}