/*-- carpeta base --*/
@import "../base/body";
@import "../base/borders";
@import "../base/colors";
@import "../base/dimensions";
@import "../base/font_sizes";
@import "../base/paddings";
@import "../base/titulos";
/*-- carpeta layout --*/
@import "../layout/footer";
@import "../layout/navbar";
/*-- carpeta utilities --*/
@import "../utilities/mixins";

.tienda {
    .intro-tienda {
        padding-top: $p40;
        border-radius: $b_20;
    }
    .tarjeta {
    background-color: $dark-purple;
    padding: $p40;
    .comprar {
    color: $dark-purple;
    padding: $p40;
    border: $dark-purple solid 4px;
    border-radius: $b_20;
    }
    }
}